$TTL 86400	; 1 day
@			IN SOA	{{ hostvars[inventory_hostname]['groups']['masters'][0] }}.{{ default_zone }} root.{{ default_zone }} (
				2018010700 ; Serial
				3600       ; Refresh (1 hour)
				3600       ; Retry (1 hour)
				604800     ; Expire (1 week)
				3600       ; Minimum (1 hour)
)
{% for server in hostvars[inventory_hostname]['groups']['all'] %}
@		NS	{{ server }}.{{ default_zone }}
{% endfor %}
{% for server in hostvars[inventory_hostname]['groups']['all'] %}
@		A	{{ hostvars[server].ip }}
{% endfor %}
{% for server in hostvars[inventory_hostname]['groups']['all'] %}
{{ server }}		A	{{ hostvars[server].ip }}
{% endfor %}
