include "/etc/bind/rndc.key";

# Allow rndc management
controls {
{% for server in hostvars[inventory_hostname]['groups']['masters'] %}
    inet {{ hostvars[server]['ansible_facts']['ens3']['ipv4']['address'] }}
        port 953
        allow { any; }
        keys { "designate"; };

{% endfor %}
};

options {
    listen-on port 53 { any; };
    listen-on-v6 { any; };
    directory     "/var/cache/bind";
    recursion no;
    allow-query { any; };
    allow-transfer {
        localhost;
{% for server in hostvars[inventory_hostname]['groups']['all'] %}
        {{ hostvars[server]['ansible_facts']['ens4']['ipv4']['address'] }};
{% endfor %}
    };

    allow-new-zones yes;
    request-ixfr no;
    dnssec-validation auto;
};

# Internal zone definitions
zone "{{ default_zone }}" {
    type master;
    file "data/db.defaultzone.local";
    allow-update { key rndc-key; };
    notify yes;
};

zone "{{ default_reverse_zone }}" {
    type master;
    file "data/db.reverse-defaultzone.local";
    allow-update { key rndc-key; };
    notify yes;
};
